<div class="container  ">
  <div class="menu-container">
    <ul>
      
      <li><button type="button" class="btn btn-success" (click)="goToFormatos()">Formatos</button></li>
      
      <li><button type="button" class="btn btn-success" (click)="goToConvocatorias()">Convocatorias</button></li>
      
      <li><button type="button" class="btn btn-success" (click)="goToConvenios()">Convenios</button></li>
    </ul>
  </div>




<body class="body">
  <div class="login-page">
    <div class="form">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="thumbnail">
          <img src="assets/logo_app.png" />
        </div>
        <br>
        <div>
          <input formControlName="NUE" type="number" class="form-control" id="floatingInput" placeholder="NUE"
            maxlength="10">
          <small *ngIf="NUETocado() && !NUEValido()" class="text-danger">
            Tu NUE es obligatorio y debe ser de 10 números.
          </small>
        </div>
        <div>
          <input formControlName="password" type="password" class="form-control" id="floatingPassword"
            placeholder="Contraseña">
          <small *ngIf="passwordTocado() && !passwordValido()" class="text-danger">
            La contraseña es obligatoria.
          </small>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">Acceder</button>
      </form>
    </div>
  </div>
</body>
</div>

