<nav class="navbar bg-success navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand title">Panel de administrador</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/add-agremiado">Agregar agremiado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ver-agremiados">Ver agremiados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ver-solicitudes">Ver solicitudes</a>
        </li>
      </ul>
      <ul class="navbar-nav cerrar-sesion">
        <li class="nav-item">
          <a class="nav-link" (click)="salir()">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="text-center" style="color: rgb(42, 165, 104);">Bienvenido</h1>
  <br>
  <div style="text-align: center;">
  <img src="assets/logo_app.png" />
</div>
</body>
