<header class="bg-success">
  <span><b>Listado de Agremiados</b></span>
  <a class="back-button bg-danger" (click)="goToDashboardAdministrador()"><i class="fas fa-arrow-left"></i> Regresar</a>
</header>

<hr>

<div>
  <br>
  <table id="datatableAgremiados" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="textoscentrados bg-success" scope="col">#</th>
        <th class="textoscentrados bg-success" scope="col">Nombre</th>
        <th class="textoscentrados bg-success" scope="col">Apellido Paterno</th>
        <th class="textoscentrados bg-success" scope="col">Apellido Materno</th>
        <th class="textoscentrados bg-success" scope="col">Sexo</th>
        <th class="textoscentrados bg-success" scope="col">NUE</th>
        <th class="textoscentrados bg-success" scope="col">NUP</th>
        <th class="textoscentrados bg-success" scope="col">RFC</th>
        <th class="textoscentrados bg-success" scope="col">NSS</th>
        <th class="textoscentrados bg-success" scope="col">Fecha de Nacimiento</th>
        <th class="textoscentrados bg-success" scope="col">Teléfono</th>
        <th class="textoscentrados bg-success" scope="col">Cuota</th>
        <th class="textoscentrados bg-success" scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ag of agremiados; let i=index">
        <td scope="row">{{ i + 1 }}</td>
        <td>{{ ag.nombre }}</td>
        <td>{{ ag.a_paterno }}</td>
        <td>{{ ag.a_materno }}</td>
        <td>{{ ag.sexo }}</td>
        <td>{{ ag.NUE }}</td>
        <td>{{ ag.NUP }}</td>
        <td>{{ ag.RFC }}</td>
        <td>{{ ag.NSS }}</td>
        <td>{{ ag.fecha_nacimiento }}</td>
        <td>{{ ag.telefono }}</td>
        <td>{{ ag.cuota }}</td>
        <td class="opciones-botones">
          <button class="btn btn-warning" title="Editar trabajo"><i class="fas fa-edit"></i></button>
          <button class="btn btn-secondary" title="Eliminar trabajo"><i class="fas fa-trash-alt"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
